In [5]:
# Importando bibliotecas

import pandas as pd

In [6]:
# Lendo base de dados

forecasting = pd.read_csv('data_recomendation.csv')
forecasting.head()

   userId    ItemId
0    6219  77635299
1    6220  77635299
2    6221  77635299
3    6221  77635299
4    6223  77635299

In [7]:
# Estabelecendo pontuação de afinidade entre os produtos com base nos usuários que compraram

# Obtendo lista de produtos exclusivos

itemlist = list(set(forecasting['ItemId'].tolist()))

#Contagem de usuários

usercount = len(set(forecasting['userId'].tolist()))

# Criação de conjunto de dados vazio para armazenamento de pontuação de afinidade de produtos

item_affinity = pd.DataFrame(columns=('item1', 'item2', 'score'))
rowCount=0

# Comparando os produtos

for i in range(len(itemlist)):
    # Lista de usuários que compraram esse produto
    item1users = forecasting[forecasting.ItemId == itemlist[i]]['userId'].tolist()
    
    # Lista que não são o produto 1 ou que não foram analisados
    for j in range (i, len(itemlist)):
        if j == i:
            continue
        else:
            item2users = forecasting[forecasting.ItemId == itemlist[j]]['userId'].tolist()
            
        # Estabelecendo pontuação: Encontrando lista comum de usuários e dividindo-a pelo total de usuários.

            commonusers = len(set(item1users).intersection(set(item2users)))
            score = commonusers / usercount

        # Adicionando uma pontuação para o produto 1 e produto 2:
            item_affinity.loc[rowCount] = [itemlist[i],itemlist[j],score]
            rowCount += 1
        
        # Adicionando uma pontuação para o produto 2 e produto 1:
            #tem_affinity.loc[rowCount] = [itemlist[j],itemlist[i],score]
            #owCount += 1
            
# Resultado
item_affinity.head()

        item1       item2     score
0  77635299.0  77635300.0  0.005780
1  77635299.0  77635301.0  0.000000
2  77635299.0  77635303.0  0.219653
3  77635299.0  77635304.0  0.005780
4  77635299.0  77635305.0  0.005780

In [8]:
# Recomendação de produtos

searchitem = 77635299
recolist = item_affinity[item_affinity.item1 == searchitem][['item2','score']].sort_values('score', ascending = [0])
print(recolist)

          item2     score
34   77635342.0  0.410405
2    77635303.0  0.219653
67   77635393.0  0.208092
66   77635392.0  0.202312
36   77635344.0  0.179191
..          ...       ...
89   77635415.0  0.000000
22   77635325.0  0.000000
93   77635419.0  0.000000
95   77635421.0  0.000000
116  77635442.0  0.000000

[117 rows x 2 columns]